img {
    width:500px;
}
body{
    text-align:center;
    font-family: Arial;
    background-image:url("https://data.whicdn.com/images/220652927/original.gif"); 
    color:LightSalmon;
    
}
#name{
   color:SeaShell; 
   font-family: cursive;
}